html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0 20px;
  }
}

.container-fluid {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .container-fluid {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 37.5em) {
  .container-fluid {
    padding: 0 20px;
  }
}

.btn {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #6C63FF;
  padding: 16px 30px;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.2s linear;
}
.btn-secondary {
  color: #6C63FF;
}
.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #6C63FF;
}
.btn-login {
  margin-right: 15px;
}
@media only screen and (max-width: 75em) {
  .btn-login {
    margin-right: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .btn-login {
    padding: 16px 71px;
    margin-right: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn-login {
    padding: 14px 69px;
  }
}
@media only screen and (max-width: 56.25em) {
  .btn-start {
    padding: 16px 52px;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn-start {
    padding: 14px 50px;
  }
}
.btn-primary {
  background-color: #6C63FF;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #FFFFFF;
  color: #6C63FF;
}
.btn--outline {
  font-size: 16px;
}

.click {
  font-weight: 600;
  font-size: 18px;
  color: #2F2E41;
  line-height: 1.1111111111;
  letter-spacing: -1px;
  position: relative;
  margin-left: 4px;
}
.click::after {
  position: absolute;
  content: "";
  border: 6px solid #C5C2FF;
  bottom: 0;
  width: 100px;
  left: calc(50% - 50px);
  z-index: -1;
  opacity: 50%;
  top: 50%;
}

.heading {
  font-family: "Playfair Display", serif;
  color: #2F2E41;
  font-weight: 700;
  letter-spacing: -1px;
}
.heading-hero {
  font-size: 86px;
  line-height: 1.023255814;
  margin-bottom: 30px;
}
@media only screen and (max-width: 37.5em) {
  .heading-hero {
    font-size: 46px;
    line-height: 1.0869565217;
    margin-bottom: 24px;
  }
}
.heading-secondary {
  font-size: 60px;
  line-height: 1.0666666667;
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
.heading-contact {
  font-size: 50px;
  line-height: 1.12;
  color: #FFFFFF;
}
@media only screen and (max-width: 37.5em) {
  .heading-contact {
    font-size: 34px;
    line-height: 1.1764705882;
    text-align: center;
  }
}

.desc {
  color: #9893A3;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
}
.desc-hero {
  margin-bottom: 30px;
}
@media only screen and (max-width: 37.5em) {
  .desc-hero {
    margin-bottom: 24px;
  }
}
.desc-features {
  margin: 24px 0;
}
@media only screen and (max-width: 37.5em) {
  .desc-features {
    margin: 16px 0;
  }
}

.header {
  padding: 40px 0 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 56.25em) {
  .header {
    padding: 40px 0 20px;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 20px 0 20px;
  }
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
@media only screen and (max-width: 56.25em) {
  .header-auth {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 36px;
  list-style: none;
}
@media only screen and (max-width: 56.25em) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    gap: 30px 0;
    padding-top: 150px;
    align-items: center;
    will-change: transform;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
  }
}
.menu-link {
  font-size: 16px;
  font-weight: bold;
  color: #9893A3;
  padding-bottom: 10px;
}
@media only screen and (max-width: 56.25em) {
  .menu-link {
    font-size: 20px;
  }
}

.menu-link.active,
.menu-link:hover {
  position: relative;
  color: #2F2E41;
  transition: all 0.2s ease-in;
}
.menu-link.active::after,
.menu-link:hover::after {
  position: absolute;
  content: "";
  width: 47px;
  height: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #9E99FF;
}
@media only screen and (max-width: 56.25em) {
  .menu-link.active::after,
.menu-link:hover::after {
    width: 60px;
  }
}

.menu-hamburger {
  visibility: hidden;
}
@media only screen and (max-width: 56.25em) {
  .menu-hamburger {
    visibility: visible;
    position: absolute;
    top: 40px;
    left: -65px;
  }
}
@media only screen and (max-width: 37.5em) {
  .menu-hamburger {
    top: 20px;
    left: -46px;
  }
}

.menu-close {
  width: fit-content;
  cursor: pointer;
}

.menu-item--auth {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .menu-item--auth {
    display: block;
    padding-top: 160px;
    padding: 160px 20px 0 20px;
    display: flex;
    gap: 0 20px;
  }
}
@media only screen and (max-width: 37.5em) {
  .menu-item--auth {
    gap: 0 10px;
  }
}

@media only screen and (max-width: 56.25em) {
  .menu.is-show {
    transform: translateX(0);
  }
}

.header-sp {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .header-sp {
    width: 100%;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hero {
  padding-bottom: 120px;
  padding-top: 175px;
}
@media only screen and (max-width: 56.25em) {
  .hero {
    padding-top: 100px;
    padding-bottom: 107px;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .hero-main {
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero-main {
    flex-direction: column;
  }
}
.hero-content {
  max-width: 490px;
}
@media only screen and (max-width: 56.25em) {
  .hero-content {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.partners {
  padding: 0 140px;
}
@media only screen and (max-width: 56.25em) {
  .partners {
    padding: 0;
  }
}
.partners-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 97px;
}
@media only screen and (max-width: 37.5em) {
  .partners-content {
    gap: 37px 44px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.partners img:hover {
  opacity: 1;
}

.features {
  padding-top: 220px;
}
@media only screen and (max-width: 75em) {
  .features {
    padding-top: 140px;
  }
}
@media only screen and (max-width: 37.5em) {
  .features {
    padding-top: 100px;
  }
}
.features-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 180px;
}
@media only screen and (max-width: 75em) {
  .features-item {
    gap: 0 47px;
  }
}
@media only screen and (max-width: 56.25em) {
  .features-item {
    flex-direction: column-reverse;
  }
}
.features-item:not(:last-child) {
  margin-bottom: 220px;
}
@media only screen and (max-width: 75em) {
  .features-item:not(:last-child) {
    margin-bottom: 140px;
  }
}
@media only screen and (max-width: 37.5em) {
  .features-item:not(:last-child) {
    margin-bottom: 100px;
  }
}
.features-img {
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .features-img {
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 37.5em) {
  .features-img {
    margin-top: 32px;
  }
}

.reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 56.25em) {
  .reverse {
    flex-direction: column-reverse;
  }
}

.pricing {
  padding: 220px 0 220px;
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .pricing {
    padding: 140px 0 140px;
    text-align: start;
  }
}
@media only screen and (max-width: 37.5em) {
  .pricing {
    padding: 90px 0 90px;
  }
}
.pricing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 45px;
  text-align: center;
  align-items: center;
  margin-top: 90px;
}
@media only screen and (max-width: 75em) {
  .pricing-list {
    gap: 0 20px;
  }
}
@media only screen and (max-width: 56.25em) {
  .pricing-list {
    grid-template-columns: 1fr;
    gap: 45px 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .pricing-list {
    margin-top: 40px;
    gap: 24px 0;
  }
}
.pricing-item {
  font-size: 18px;
  color: #717082;
  background-color: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
  padding: 46px 88px;
  font-weight: 400;
  width: 363px;
  height: 421px;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .pricing-item {
    width: 318px;
    padding: 45px 53px;
  }
}
@media only screen and (max-width: 56.25em) {
  .pricing-item {
    width: 100%;
  }
}
.pricing-note {
  margin-bottom: 30px;
}
.pricing-price {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.12;
  letter-spacing: -2px;
  color: #2F2E41;
  margin-bottom: 30px;
}
@media only screen and (max-width: 37.5em) {
  .pricing-price {
    font-size: 40px;
    line-height: 1.25;
  }
}
.pricing-price span {
  font-weight: 400;
  font-size: 18px;
}
.pricing-detail {
  margin-bottom: 30px;
}
.pricing-detail span {
  display: block;
  letter-spacing: -0.5px;
}
.pricing-detail span:not(:last-child) {
  margin-bottom: 14px;
}
.pricing-item.is-active, .pricing-item:hover {
  background-color: #6C63FF;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s linear;
  height: 503px;
  padding: 70px 90px;
}
@media only screen and (max-width: 75em) {
  .pricing-item.is-active, .pricing-item:hover {
    padding: 70px 62px;
  }
}
.pricing-item.is-active .price, .pricing-item:hover .price {
  color: #ECEBFF;
}
.pricing-item.is-active .btn, .pricing-item:hover .btn {
  background-color: #ECEBFF;
  color: #6C63FF;
  padding: 16px 47px;
}

.blog {
  padding-bottom: 80px;
}
@media only screen and (max-width: 56.25em) {
  .blog {
    padding-bottom: 120px;
  }
}
.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media only screen and (max-width: 37.5em) {
  .blog-header {
    margin-bottom: 46px;
  }
}
.blog-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 45px;
}
@media only screen and (max-width: 56.25em) {
  .blog-box {
    grid-template-columns: 1fr;
    gap: 45px 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .blog-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0 27px;
  }
}
@media only screen and (max-width: 37.5em) {
  .blog-item {
    flex-direction: column;
  }
}
.blog-img {
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .blog-img {
    width: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .blog-img {
    width: 100%;
  }
}
.blog-title {
  color: #2F2E41;
  font-weight: 600px;
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 26px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 56.25em) {
  .blog-title {
    margin-top: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .blog-title {
    margin-top: 26px;
  }
}
.blog-text {
  color: #9893A3;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 26px;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  transform: translateY(50%);
}
@media only screen and (max-width: 56.25em) {
  .contact {
    transform: none;
  }
}
.contact-main {
  background-color: #2F2E41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 84px;
  gap: 0 200px;
}
@media only screen and (max-width: 56.25em) {
  .contact-main {
    padding: 84px 63px;
    gap: 0 100px;
  }
}
@media only screen and (max-width: 37.5em) {
  .contact-main {
    flex-direction: column;
    gap: 30px 0;
    padding: 72px 45px;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact-container {
    padding: 0 !important;
  }
}

.talk {
  padding: 15px 57px;
}

.footer {
  background: rgba(236, 235, 255, 0.6);
  padding-top: 240px;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding-top: 76px;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding-top: 50px;
  }
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 145px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 56.25em) {
  .footer-main {
    gap: 0 94px;
    padding: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer-main {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 0;
  }
}
.footer-heading {
  font-weight: 600;
  font-size: 18px;
  color: #2F2E41;
  line-height: 1.3333333333;
  margin-bottom: 20px;
}
.footer-links {
  list-style: none;
}
.footer-item {
  margin-bottom: 8px;
}
.footer-link {
  color: #717082;
  font-weight: 400;
  line-height: 1.625;
  font-size: 16px;
  margin-bottom: 8px;
}
.footer-social {
  gap: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .footer-social {
    justify-content: flex-start;
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 77px 0 40px;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .footer-container {
    padding: 58px 0 37px;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer-container {
    padding: 68px 0 30px;
  }
}
.footer-copyright {
  font-size: 12px;
  color: #9893A3;
}

.social-item:hover {
  opacity: 0.3;
}

.scrollToTopBtn {
  background-color: #fff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 50%;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 1000;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}
@media screen and (max-width: 767px) {
  .scrollToTopBtn {
    bottom: 100px;
  }
}
@media only screen and (max-width: 56.25em) {
  .scrollToTopBtn {
    bottom: 34%;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
