.blog {
  padding-bottom: 80px;
  @include respond(tab-port){
    padding-bottom: 120px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
    @include respond(phone){
      margin-bottom: 46px;
    }
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 45px;
    @include respond(tab-port){
      grid-template-columns: 1fr;
      gap: 45px 0;
    }
  }
  &-item{
    @include respond(tab-port){
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 0 27px;
    }
    @include respond(phone){
      flex-direction: column;
    }
  }
  &-img {
    object-fit: cover;
    @include respond(tab-port){
      width: 50%;
    }
    @include respond(phone){
      width: 100%;
    }
  }
  &-title {
    color: $Neutral-500;
    font-weight: 600px;
    font-size: 22px;
    letter-spacing: -1px;
    margin-top: 26px;
    margin-bottom: 6px;
    @include respond(tab-port){
      margin-top: 0;
    }
    @include respond(phone){
      margin-top: 26px;
    }
  }
  &-text {
    color: $Neutral-300;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
    margin-bottom: 26px;
  }
}
