.contact{
 max-width: 900px;
 margin: 0 auto;
  transform: translateY(50%);
  @include respond(tab-port){
   transform: none;
  }
 &-main{
  background-color: $Neutral-500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 84px;
  gap: 0 200px;
  @include respond(tab-port){
   padding: 84px 63px;
   gap: 0 100px;
  }
  @include respond(phone){
   flex-direction: column;
   gap: 30px 0;
   padding: 72px 45px;
  }
 }
 &-container{
  @include respond(tab-port){
   padding: 0 !important;
  }
 }
}
.talk{
 padding: 15px 57px;

}
