.heading {
  font-family: $font-heading;
  color: $Neutral-500;
  font-weight: 700;
  letter-spacing: -1px;
  &-hero {
    font-size: 86px;
    line-height: calc(88 / 86);
    margin-bottom: 30px;
    @include respond(phone) {
      font-size: 46px;
      line-height: calc(50 / 46);
      margin-bottom: 24px;
    }
  }
  &-secondary {
    font-size: 60px;
    line-height: calc(64 / 60);
    @include respond(phone) {
      font-size: 34px;
      line-height: calc(40 / 34);
    }
  }
  &-contact {
    font-size: 50px;
    line-height: calc(56 / 50);
    color: $Neutral-100;
    @include respond(phone){
      font-size: 34px;
      line-height: calc(40 / 34);
      text-align: center;
    }
  }
}
//text
.desc {
  color: $Neutral-300;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(34 / 20);
  &-hero {
    margin-bottom: 30px;
    @include respond(phone) {
      margin-bottom: 24px;
    }
  }
  &-features {
    margin: 24px 0;
    @include respond(phone) {
      margin: 16px 0;
    }
  }
}
